.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fbffe6;
    }

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #efdcf5;
    }

.dropdown-item {
            background-color: #0275d8;
}

.danger {
            background-color: #d9534f;
}

.dropdown-menu a:hover {
            background: black;
}

a{
            text-decoration:none;
            color:black;
}

.card{
            background-color: #fff3d6;
            font-weight: bold;
            border-color: #e7d2a3;
}
