<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create chapter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/tablestyle.css" rel="stylesheet">
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <br/>
    <div class="container w-50">
        <br/>
        <div class="col d-flex justify-content-center">
            <h1>Folder creation</h1>
        </div>
        <br/>
        <div class="d-flex justify-content-center">
            <h4><span>Create a chapter.</span></h4>
        </div>
        <br/>
        <form th:action = "@{/user/folder/addChapter(id=${id})}" th:object="${chapter}" method = "POST" class="d-flex justify-content-center">
            <div class="form-group">
                <div class="col-sm">
                    <label for="labelChapter" class="col-sm-2 col-form-label col-form-label-lg">Label</label>
                    <input type="text" class="form-control form-control-lg" id="labelChapter" th:field = "*{label}" placeholder="Enter label" autofocus>
                    <p  th:if="${#fields.hasErrors('label')}" th:class="error">
                        Label must have 1 to 25 characters.</p>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-outline-primary m-2 btn-lg align-text-top">Submit</button>
                </div>
            </div>
        </form>
        <br/>
        <hr>
        <button onclick="history.go(-1);" class="btn btn-outline-primary me-1"><img src="/images/return.png" width="25px" height="25px" alt="return button"></button>
    </div>
</body>
</html>