<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add segment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/tablestyle.css" rel="stylesheet">
</head>
<body>
    <div th:insert="fragments/navbar :: navbar"></div>
    <br/>
    <div class="container w-50">
        <br/>
        <div class="col d-flex justify-content-center">
            <h1>Segment creation</h1>
        </div>
        <br/>
        <div class="d-flex justify-content-center">
            <h4><span>Add a segment.</span></h4>
        </div>
        <br/>
        <form th:action = "@{/user/segment/addContent(id=${id})}" th:object="${segment}" method = "POST" class="d-flex justify-content-center" enctype="multipart/form-data">
            <div class="form-group">
                <div class="col-sm">
                    <label for="contentSegment" class="col-sm-2 col-form-label col-form-label-lg">Content</label>
                    <textarea rows="6" cols="60" id="contentSegment" th:field = "*{text}" placeholder="Enter text"></textarea>
                    <p  th:if="${#fields.hasErrors('text')}" th:class="error">
                        Text only can have up to 2000 characters.</p>
                </div>
                <div class="input-group">
                    <div class="custom-file">
                    <br/>
                    <label for="file" class="col-form-label col-form-label-lg">Upload image if required.</label>
                    <br/>
                    <input type="file" class="custom-file-input" id="file" name="file">
                    </div>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-outline-primary m-2 btn-lg align-text-top">Submit</button>
                </div>
            </div>
        </form>
        <br/>
        <hr>
        <button onclick="history.go(-1);" class="btn btn-outline-primary me-1"><img src="/images/return.png" width="25px" height="25px" alt="return button"></button>
        </hr>
    </div>
</body>
</html>