<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>QR-Code Google Authenticator</title>
</head>
<body>
    <div class="container">
        <br/>
        <br/>
        <div class="col d-flex justify-content-center">
        <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + image}" src="" alt="QR Code for Google Authenticator">
        </div>
        <br/>
        <br/>
        <div th:if = "${param.wrongCode}" class="d-flex justify-content-center">
            <div class="alert alert-danger w-25 d-flex justify-content-center">Wrong code entered! Try again.</div>
        </div>
        <div th:if = "${param.onlyNumbers}" class="d-flex justify-content-center">
            <div class="alert alert-danger w-25 d-flex justify-content-center">Use only numbers!</div>
        </div>
        <br/>
        <br/>
        <h4 class="d-flex justify-content-center">Scan the QR-Code with your <strong class="ms-1 me-1">Google Authenticator App</strong> and enter the 6-digit numeric code.</h4>
        </br>
        <form th:action = "@{/user/validateCode}" method = "POST" class="d-flex justify-content-center">
            <div class="form-group">
                <label for="code" class="col-form-label col-form-label-lg">Authentication code</label>
                <br/>
                <div class="col-sm">
                    <input type="text" inputmode="numeric" class="form-control form-control-lg" id="code" name="verifyCode" placeholder="Enter code" autofocus>
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-outline-primary m-2 btn-lg">Submit</button>
                </div>
            </div>
        </form>
        <br/>
        <hr>
        <a href="/user/showProfile" class="btn btn-outline-primary me-1"><img src="/images/return.png" width="25px" height="25px" alt="return button"></a>
        <br/>
    </div>
    <div th:insert="~{fragments/footer.creator :: footercreator}"></div>
</body>
</html>