<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rename folder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <br/>
    <div class="container w-50">
        <br/>
        <div class="col d-flex justify-content-center">
            <h1>Folder renaming</h1>
        </div>
        <br/>
        <h4><span class="d-flex justify-content-center">Rename the folder.</span></h4>
        <br/>
        <form th:action = "@{/user/folder/rename}" th:object="${folder}" method = "POST" class="d-flex justify-content-center">
            <div class="form-group">
                <label for="colFormLabelLg" class="col-form-label col-form-label-lg">New Label</label>
                <div class="col-sm">
                    <input type="text" class="form-control form-control-lg" id="colFormLabelLg" th:field = "*{label}" placeholder="Enter new label">
                </div>
                <div class="col-sm">
                    <input type="hidden" id="colFormIdLg" th:field = "*{id}">
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-outline-primary m-2 align-text-top btn-lg">Submit</button>
                </div>
            </div>
        </form>
        <br/>
        <hr>
        <a href="/public/folders" class="btn btn-outline-primary me-1"><img src="/images/return.png" width="25px" height="25px" alt="return button"></a>
        </hr>
    </div>
</body>
</html>